yaml=~0.2.5
pyyaml>=5.4.1
numpy>=1.19.2
minerva~=0.6.0
scikit-learn>=0.23.2
matplotlib>=3.3.2
requests>=2.25.1
boto3>=1.9.66
arrow>=0.16.0
tqdm>=4.55.1
pandas>=1.2.0
seaborn>=0.11.1
tensorflow>=2.4.0
rasterio>=1.1.0
imageio>=2.9.0
torchinfo>=0.0.9
torchvision>=0.10.0
setuptools>=52.0.0
fiona>=1.8.13.post1
tabulate>=0.8.9
inputimeout>=1.0.4
psutil>=5.8.0
typing_extensions>=3.7.4.3

--find-links https://download.pytorch.org/whl/torch_stable.html
torch>=1.9.0

GDAL>=3.0.2
py-opencv=~3.4.2
